<form action="/employees/<%= @employee.id %>" method="post">
    <input type="hidden" name="_method" value="put">
    <label for="title">Title</label> 
    <select name="title">
        <% @titles.each do |title| %>
            <% if @employee.title == title %>
                <option selected="selected" value="<%=title%>"><%=title%></option>
            <% else %>
                <option value="<%=title%>"><%=title%></option>
            <% end %>
        <% end %>
    </select> 
    <label for="first-name">First Name</label>
        <input type="text" name="first-name" value="<%= @employee.first_name %>">
    <label for="last-nane">Last Name</label>
        <input type="text" name="last-name" value="<%= @employee.last_name %>">
    <label for="preferred-name">Preferred Name</label>
        <input type="text" name="preferred-name" value="<%= @employee.preferred_name %>">
    <label for="email">Email Address</label>
        <input type="email" name="email" value="<%= @employee.email %>">
    <label for="phone">Phone Number</label>
        <input type="tel" name="phone" value="<%= @employee.phone %>">
    <label for="dob">Date of Birth</label>
        <input type="date" name="dob" value="<%= @employee.dob %>">
    <label for="admin">Is Admin</label>
        <% if @employee.admin %>
            <input type="checkbox" name="admin" checked/>
        <% else %>
            <input type="checkbox" name="admin"/>
        <% end %>
    <label for="admin">Is Terminated</label>
        <% if @employee.terminated %>
            <input type="checkbox" name="terminated" checked/>
        <% else %>
            <input type="checkbox" name="terminated"/>
        <% end %>
    <label for="date-terminated">Date Terminated</label>
        <input type="date" name="date-terminated" value="<%= get_date_string(@employee.date_terminated) %>">
    <button type="submit">Save</button>
</form>
