<style>
    .profile-img{
        background-image: url(<%= @employee.photo%>);
        background-size: cover;
        width: 20vh;
        height: 20vh;
        margin: auto;
        background-position: 50% 50%;
        border-radius: 20vh;
    }

</style>
<div class="container">
    <div class="profile">
        <h2><%= @employee.full_preferred_name %></h2>
        <% if !!@employee.photo %>
            <div class="profile-img">
                &nbsp;
            </div>
        <% end %>
        <form action='/employees/<%= @employee.id %>/image' enctype="multipart/form-data" method='POST'>
            <input name="file" type="file" />
            <input type="submit" value="Upload" />
        </form>
        <a href="/employees/<%= @employee.id %>/work_hours/edit">Edit Employee Work Schedule</a>
        <h3>First Name</h3>
        <%= @employee.first_name %>
        <h3>Last Name</h3>
        <%= @employee.last_name %>
        <h3>Preferred Name</h3>
        <%= @employee.preferred_name %>
        <h3>Title</h3>
        <%= @employee.title %>
        <h3>Email</h3>
        <%= @employee.email %>
        <h3>Date of Birth</h3>
        <%= @employee.dob %>
        <h3>Phone</h3>
        <%= @employee.phone %>
        <h3>ACTIVE</h3>
        <%= @employee.active %>
        <h3>Last Updated</h3>
        <%= @employee.last_update %>
        <h3>Date Created</h3>
        <%= @employee.date_created %>
        <h3>Date Started</h3>
        <%= @employee.date_started %>
        <h3>is Terminated?</h3>
        <%= @employee.terminated %>
        <h3>Date Terminated</h3>
        <%= @employee.date_terminated %>
        <h3>is Admin</h3>
        <%= @employee.admin %>
        <form action="/employees/<%= @employee.id %>/deactivate" method="post">
            <input type="hidden" name="_method" value="put">
            <button>Deactivate employee</button>
        </form>
    </div>
</div>
