<form action="/clients/<%= @client.id %>" method="post">
    <input type="hidden" name="_method" value="put">
    <label for="title">Title</label> 
    <select name="title">
        <% @titles.each do |title| %>
            <% if @client.title == title %>
                <option selected="selected" value="<%=title%>"><%=title%></option>
            <% else %>
                <option value="<%=title%>"><%=title%></option>
            <% end %>
        <% end %>
    </select> 
    <label for="first-name">First Name</label>
        <input type="text" name="first-name" value="<%= @client.first_name %>">
    <label for="last-nane">Last Name</label>
        <input type="text" name="last-name" value="<%= @client.last_name %>">
    <label for="preferred-name">Preferred Name</label>
        <input type="text" name="preferred-name" value="<%= @client.preferred_name %>">
    <label for="email">Email Address</label>
        <input type="email" name="email" value="<%= @client.email %>">
    <label for="photo">Photo</label>
        <input type="file" name="photo">
    <label for="phone">Phone Number</label>
        <input type="tel" name="phone" value="<%= @client.phone %>">
    <label for="dob">Date of Birth</label>
        <input type="date" name="dob" value="<%= @client.dob %>">
    <button type="submit">Save</button>
</form>