<table>
   <tr>
      <th COLSPAN="7">
         <h2>Clients</h2>
      </th>
    </tr>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Phone</th>
      <th>Date of birth</th>
      <th COLSPAN=3></th>
    </tr>
    <% @clients.each do |client| %>
        <tr>
            <td><%= client.first_name %></td>
            <td><%= client.last_name %></td>
            <td><%= client.phone %></td>
            <td><%= client.dob %></td>
            <td><a href="/clients/<%= client.id %>/edit">Edit</a></td>
            <td><a href="/clients/<%= client.id %>">Show</a></td>
            <td>make a booking</td>
        </tr>
    <% end %>
</table>