<h2>Appointments</h2>
<table>
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Client</th>
      <th>Client Phone</th>
      <th>Employee</th>
      <th>Service</th>
      <th COLSPAN=3></th>
    </tr>
    <% @appointments.each do | appointment | %>
        <tr>
            <td><%= get_date_string(appointment.app_date) %></td>
            <td><%= get_time_string(appointment.start_time) %> - <%= get_time_string(appointment.end_time) %></td>
            <td><%= appointment.client.full_preferred_name %></td>
            <td><%= appointment.client.phone %></td>
            <td><%= appointment.employee.preferred_name %></td>
            <td><%= appointment.app_service %></td>
            <td><a href="/appointments/<%= appointment.id %>/edit">edit</a></td>
            <td><a href="/appointments/<%= appointment.id %>">show</a></td>
            <td>
                <form action="/appointments/<%= appointment.id %>/delete" method="post">
                    <input type="hidden" name="_method" value="put">
                    <button>cancel</button>
                </form>
            </td>
        </tr>
    <% end %>
</table>